body{
    margin: 0%;
}
header{
    width: 100%;
    height: 100px;
    background-color: #cfcfcf;
}
.case-1{
    width: 50%;
    height: 100px;
    position: absolute;
    left: 25%;
}
.case-2{
    width: 25%;
    height: 100px;
    position: absolute;
    right: 0%;
}
.logo{
    width: 120px;
    height: 40px;
    position: absolute;
    background-color: #f0f0f0;
    margin: 30px;
    text-align: center;
}
.case-2-button{
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 10%;
    left: 0%;
}
.case-1-1{
    margin-top: 16px;
    position: absolute;
    left: 0%;
    width: 50%;
    height: 84px;
}
.case-1-1 span{
    position: absolute;
    right: 0%;
    font-size: 1.25em;
}
.case-1-2{
    position: absolute;
    left: 50%;
}
.container-1{
    background-color: #cfcfcf;
    margin-top: 25px;
    width: 100%;
    height: 500px;
}